.container {
  background-color: #ffffff;
  border-radius: 1rem;
  height: 35rem;
  margin: 2rem auto;
  padding: 4rem 0rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.followButton {
  margin-left: 1rem;
  padding: .2rem 2rem;
  border: 0;
  background-color: #FFFF;
  color: #56a5ff;
  border-radius: 1rem;
  border: .05rem solid rgb(60, 106, 255);
}

.followButton:hover{
  transition: .3s;
  cursor: pointer;
  background-color: #56a5ff;
  color: #FFF;
}

